.mainContainer{
    background-image: linear-gradient(white, green);
    display: flex;
    align-content: center;
    align-items: center;
  justify-content: center;
    justify-items: center;
    
    height : 100dvh;
  }